html, body {
    background-color: var(--background-color);
    font-size: 18px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.skip-to {
    position: absolute;
    z-index: 10;
    transform: translateY(-100px);
    padding: 0.5rem;
    background-color: var(--purple);
}

.skip-to:focus {
    transform: translateY(0px);
}

header {
    width: 100%;
    background: linear-gradient(180deg, rgba(227, 190, 197, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: end;
    min-height: 5rem;
}

header img {
    margin: 1rem;
}

.nav {
    display: none;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
}


.overlay-menu {
    width: 100vw;
    height: 100vh;
    background-color: rgba(244, 215, 221, 0.99);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.overlay-menu ul {
    height: 20rem;
    margin: 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-size:  1.956rem;
}

.overlay-menu ul a {
    color: var(--black);
}

.overlay-menu img {
    width: 1.9rem;
}

.close {
    display: flex;
    justify-content: end;
}

@media screen and (min-width: 540px) {
    .nav {
        display: block;
        width: 100%;
        min-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 2rem;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-menu-icon {
        display: none;
    }
}

.hero {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    background-image: url(./assets/background5.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100px);
}

.hero .arrow {
    width: 2rem;
    margin: 3rem;
    animation: bounceArrow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 540px) {
    .hero .arrow {
        margin: 1rem;
    }

    .hero {
        height: 100vh;
    }
}

@keyframes bounceArrow {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px)
    }
}

.hero-title {
    margin: auto 0;
}

.hero-title h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 12vw;
    font-weight: 400;
}

.hero-title h3 {
    font-size: 5vw;
    font-weight: 400;
}

@media screen and (min-width: 680px) {
    .hero-title h1 {
        font-size: 8vw;
    }
    .hero-title h3 {
        font-size: 2vw;
    }
}

.main--centered {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto 10rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main--centered h2 {
    padding: 0 0 0 1rem;
}


@media screen and (min-width: 890px) {
    .main--centered h2 {
        padding: 0;
    }

    .main--centered {
        padding: 2rem 0 0 0;
    }
    
}

a:link {
    text-decoration: none;
}

.nav ul li {
    border-bottom: 0.15rem solid transparent;
    transition: all 0.3s ease-in-out;
    padding: 0 0.5rem 0.1rem 0.5rem;
}

.nav ul li:hover {
   border-bottom: 0.15rem solid var(--black);
   font-weight: 500;
}


footer {
    width: 100%;
    background-color: var(--purple2);
    display: flex;
}

.footer--centered{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 2rem;
    align-items: center;
}

.card {
    width: 100%;
    display: inline-block;
    background-color: var(--purple);
    padding: 1rem;
    gap: 2rem;
}

.card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card h3 {
    margin: 1rem;
    text-align: center;
}

.card p {
    margin: 0.5rem;
    text-align: center;
}


.projectWrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    .projectWrapper{
        padding: 0rem;
    }
    .card {
        width: 24rem;
    }
    .card img {
        width: 22rem;
    }
}
